* {
    margin: 0;
    padding: 0;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 4px;
}

.add-animal-container {
    padding: 30px;
}
