. {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
}

.details {
    background-color:  rgb(242, 240, 240);
    border-radius: 5px;
    display: flex;
    align-items: center;
    flex-flow: column;
    width: 500px;
}

