* {
    margin: 0;
    padding: 0;
}

.hamster-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 30px;
    padding: 15px
}

.hamster-image {
    width: 400px;
    height: 300px;
    display: flex;
}

.chinese-hamster, 
.winterwhite-hamster,
.syrian-hamster,
.robo-hamster,
.campbell-hamster {
    background-color: rgb(242, 240, 240);
    border-radius: 10px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
